.App {
  display: flex;
  justify-content: center;
}

.Chat {
  display: flex;
  flex-direction: row;
  height: 40rem;
  width: 60rem;
}

.Messages {
  width: 65%;
  height: 100%;
  border-style: solid;
}

.Lobby {
  width: 35%;
  height: 100%;
  border-style: solid;
}

.Display {
  padding: 1rem;
  height: 82%;
}

.Write {
  height: 7%;
  display: flex;
  justify-content: center;
}

.message {
  margin-top: 2rem; 
  display: flex;
  flex-direction: row;
  width: 20rem;
  border-style: solid;
  padding: 0.5rem;
}

.m-name {
  height: 1rem;
  margin-right: 1rem;
}

.Write input {
  width: 65%;
  font-size: 1.25rem;
}
