body {
  margin: 0%;
  background-color: rgb(251, 251, 251);
}

.App {
  display: flex;
  justify-content: center;
}

.inputs {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  border-style: solid;
  border-bottom-style: none;
  width: 20rem;
  padding-bottom: 10%;
  background-color: #fff; 
}

.login-title {
  color: #ffffff;
  border-color: black;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 20rem;
  background-color: #0069ed;
  font-size: 2rem;
  border-bottom-style: solid;
  margin-bottom: 0.5rem;
}

.inputs label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.inputs input {
  height: 1.5rem;
  width: 15rem;
  font-size: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  border-style: solid;
  width: 20rem;
  height: 3rem;
  background-color: #0069ed;
}

.buttons button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.buttons button:hover,
button:focus {
    background: #0053ba;
}

.buttons button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.buttons button:active {
    transform: scale(0.99);
}

.Chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MessageView {
  display: flex;
  flex-direction: row;
  height: 40rem;
  width: 60rem;
}

.NavBar {
  width: 175%;
  color: #ffffff;
  border-color: black;
  border-style: none;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #0069ed;
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 10rem;
  box-shadow: 5px 5px 5px black;
}


.Messages {
  width: 65%;
  height: 100%;
  border-style: solid;
  background-color: #fff;
}

.Lobby {
  width: 35%;
  height: 100%;
  border-style: solid;
  border-left-style: none;
  background-color: #fff;
}

.lobby-title {
  color: #ffffff;
  border-color: black;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #0069ed;
  font-size: 2rem;
  border-bottom-style: solid;
}

.lobby-users {
  overflow: scroll;
  height: 100%;
}

.active-user {
  box-shadow: 0px 1px 1px grey;
  height: 4rem;
  text-align: center;
  font-size: 1.5rem;
}

.active-user .username {
  font-style: italic;
  font-size: 1.75rem;  
}

.messages-title {
  color: #ffffff;
  border-color: black;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #0069ed;
  font-size: 2rem;
  border-bottom-style: solid;
  margin-bottom: 0.5rem;
}

.Display {
  padding: 1.5rem;
  padding-top: 0%;
  height: 82%;
  overflow: scroll;
}

.Write {
  margin-top: 1rem; 
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Write textarea {
  width: 65%;
  font-size: 1.25rem;
  height: 7rem;
  margin-bottom: 1rem;
}

.message {
  margin-top: 1rem; 
  display: flex;
  flex-direction: row;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(238, 238, 238);
}

.m-name {
  height: 1rem;
  margin-right: 1rem;
}

.invalid-input {
  background-color: pink;
}

textarea {
  resize: none;
}